body{
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .qr-container{
    flex-direction: column;
    align-content: space-around;
    text-align: center;
    width: 320px;
    height: 497px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(220, 15%, 55%);
    border-radius: 20px;
    box-shadow: 0 15px 20px hsl(212, 18%, 81%);
  }

#qrcode{
    max-width: 288px;
    max-height: 288px;
    border-radius: 10px;
}

#hline{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    margin-left: 12px;
    margin-right: 12px;
}

.qr-container p{
    margin-left: 12px;
    margin-right: 12px;
  }

.attribution { 
    position: absolute; 
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 11px; 
}

.attribution a { 
    color: hsl(266, 80%, 33%); 
}



